<div class="divBorder">
	

	<!--div class="container-fluid" >
		<form class="pure-form pure-form-aligned" name="myForm">			
					<fieldset>
						<legend>Detalji CAB zahtjeva</legend>
						<div class="pure-control-group"><strong><label>CAB HD No:</label></strong><input class="text" ng-model="cabMainDetails.CAB_HD_No"></input></div><br /> 
						<div class="pure-control-group"><strong><label>CAB Tip:</label></strong><select class="text" ng-model="cabMainDetails.CAB_Type" ng-options="val for val in getCABTypes()"><option value="">Select</option></select></div><br />
						<div class="pure-control-group"><strong><label>CAB Naziv:</label></strong><input class="text" ng-model="cabMainDetails.CAB_HD_Title"></input></div><br />
						<div class="pure-control-group"><strong><label>CAB Pošiljaoc:</label></strong><select class="text" ng-model="cabMainDetails.CAB_Sender" ng-options="val for val in getCABSenders()"><option value="">Select</option></select></div><br />
						<div class="pure-control-group"><strong><label>CAB Prioritet:</label></strong><select class="text" ng-model="cabMainDetails.CAB_Priority" ng-options="val for val in getCABPriorities()"><option value="">Select</option></select></div><br />
						<div class="pure-control-group"><strong><label>CAB IT Odjel:</label></strong><select class="text" ng-model="cabMainDetails.CAB_Department"  ng-options="val for val in getCABITDepartments()"><option value="">Select</option></select></div><br />
						<div class="pure-control-group"><strong><label>CAB Datum:</label></strong><input type="text" ng-model="cabMainDetails.CAB_HD_Date"></input></div><br />
						<div class="pure-button pure-button-primary" style='float:right'><input type="submit" value="Izmjeni"></input></div>
						<br />
					</fieldset>							
		</form>
	</div-->

	<div class="container">		
		<div style="height: 70px">
			<div style="float: right">
				<label style="width:10%">Status: </label><input class='text' ng-model='cabMainDetails.StatusName' style="position:relative; left:25px; background-color: yellow"></input>
			</div>		
		</div>

		<!-- CAB Details -->
		<div>
			<div>				
				<span id="infoCABDetailsEmpty" class="form-control">					
					<i id="iHide" class="glyphicon glyphicon-menu-down"></i>

				</span>
				<span id="infoCABDetails" class="form-control">					
					<i id="iShow" class="glyphicon glyphicon-menu-right"></i>
					{{detailsCABlabel}}
				</span>
			</div>

			<form id="formShowHide">
				<div class="form-group">
					<div class="span2">
						<span class="label label-info">{{detailsCABlabel}}</span>						
					</div>
				</div>
				<div class="form-group">					
					<label>CAB HD No:</label>
					<input type="text" class="form-control width30" placeholder="CAB HD No" ng-model="cabMainDetails.CAB_HD_No"></input>
				</div>				
				<div class="form-group">
					<label>CAB Tip:</label>
					<select class="form-control width30" ng-model="cabMainDetails.CAB_Sender" ng-options="val for val in getCABSenders()"><option value="">--Select--</option></select>
				</div>
				<div class="form-group">
					<label>CAB Naziv:</label>
					<input type="text" class="form-control width30" placeholder="Naziv" ng-model="cabMainDetails.CAB_HD_Title"></input>
				</div>
				<div class="form-group">
					<label>CAB Pošiljaoc:</label>					
					<select class="form-control width30" ng-model="cabMainDetails.CAB_Sender" ng-options="val for val in getCABSenders()"><option value="">Select</option></select>
				</div>
				<div class="form-group">
					<label>CAB Prioritet:</label>
					<select class="form-control width30" ng-model="cabMainDetails.CAB_Priority" ng-options="val for val in getCABPriorities()"><option value="">Select</option></select>
				</div>		
				<div class="form-group">
					<label>CAB IT Odjel:</label>
					<select class="form-control width30" ng-model="cabMainDetails.CAB_Department"  ng-options="val for val in getCABITDepartments()"><option value="">Select</option></select>
				</div>		
				<div class="form-group">
					<label>CAB Datum:</label>
					<input type="text" class="form-control width30 datepicker" placeholder="Datum" ng-model="cabMainDetails.CAB_HD_Date"></input>
				</div>							

				<div class="form-group">
					<input  class="btn btn-primary" type="button" value="Izmjeni CAB"></input>
					<input  class="btn btn-warning" type="button" ng-show="wtgButtonShow" ng-click="sendWTG()" value="Pošalji na WTG"></input>
				</div>

				<div class="divider"></div>
			</form>		
		</div>

		<!-- Voting -->
		<div> 
			<div>				
				<span id="infoVotingEmpty" class="form-control">					
					<i id="iHideVoting" class="glyphicon glyphicon-menu-down"></i>		
					<img  style='float: right' ng-src='{{voteImageYesNo}}' height="25" width="25" />		
				</span>
				<span id="infoVoting" class="form-control">					
					<i id="iShowVoting" class="glyphicon glyphicon-menu-right"></i>
					<img  style='float: right' ng-src='{{voteImageYesNo}}' height="25" width="25" />
					{{votinglabel}}				
				</span>
			</div>

			<form id="formShowHideVoting" disabled>
				<div class="form-group">
					<div class="span2">
						<span class="label label-info">{{votinglabel}}</span>						
					</div>
				</div>	
				<div class="form-group">
					<label>Voter Ime:</label>
					<input type="text" class="form-control width30" placeholder="Ime" ng-model="cabVoteDetails.votename"></input>
				</div>	
				<div class="form-group">
					<label>Voter Prezime:</label>
					<input type="text" class="form-control width30" placeholder="Prezime" ng-model="cabVoteDetails.votelastname"></input>
				</div>	
				<div class="form-group">
					<label>Datum Vote-a:</label>
					<input type="text" class="form-control width30" placeholder="Datum" ng-model="cabVoteDetails.votedate"></input>
				</div>
				<div class="form-group">
					<label>Datum za analizu od:</label>
					<input type="text" class="form-control width30" placeholder="Datum analize od" ng-model="cabVoteDetails.votedatefrom"></input>
				</div>
				<div class="form-group">
					<label>Datum za analizu do:</label>
					<input type="text" class="form-control width30" placeholder="Datum analize do" ng-model="cabVoteDetails.votedateto"></input>
				</div>
			</form>
		</div>

		<!-- Analyze -->
		<div>
			<div>				
				<span id="infoAnalyzeEmpty" class="form-control">					
					<i id="iHideAnalyze" class="glyphicon glyphicon-menu-down"></i>
					<img style='float: right' ng-src='{{analyzeImageYesNo}}' height="25" width="25" />
				</span>
				<span id="infoAnalyze" class="form-control">					
					<i id="iShowAnalyze" class="glyphicon glyphicon-menu-right"></i>
					<img style='float: right' ng-src='{{analyzeImageYesNo}}' height="25" width="25" />
					{{analyzelabel}}
				</span>
			</div>

			<form id="formShowHideAnalyze">
				<div class="form-group">
					<div class="span2">
						<span class="label label-info">{{analyzelabel}}</span>						
					</div>
				</div>
				<div class="form-group">					
					<label>Analyzer Ime:</label>
					<input type="text" class="form-control width30" placeholder="Ime" ng-model="cabAnalyzeDetails.analyzename"></input>
				</div>			
				<div class="form-group">					
					<label>Predviđeni sati za izradu CAB zahtjeva:</label>
					<input type="text" class="form-control width30" placeholder="Ime" ng-model="cabAnalyzeDetails.analyzepredictedwh"></input>
				</div>	
				<div class="form-group">					
					<label>Note Analyzera:</label>
					<input type="text" class="form-control width30" placeholder="Ime" ng-model="cabAnalyzeDetails.analyzenote"></input>
				</div>						
			</form>
		</div>

		<!-- Tasking-->
		<div>
			<div>				
				<span id="infoTaskingEmpty" class="form-control">					
					<i id="iHideTasking" class="glyphicon glyphicon-menu-down"></i>
					<img style='float: right' ng-src='{{taskingImageYesNo}}' height="25" width="25" />
				</span>
				<span id="infoTasking" class="form-control">					
					<i id="iShowTasking" class="glyphicon glyphicon-menu-right"></i>
					<img style='float: right' ng-src='{{taskingImageYesNo}}' height="25" width="25" />
					{{taskinglabel}}
				</span>
			</div>

			<form id="formShowHideTasking">
				<div class="form-group">
					<div class="span2">
						<span class="label label-info">{{taskinglabel}}</span>						
					</div>
				</div>
				<div class="form-group">					
					<label>Tasker Ime:</label>
					<input type="text" class="form-control width30" placeholder="Ime" ng-model="cabTaskingDetails.taskingename"></input>
				</div>
				<div class="form-group">					
					<label>Tasker Prezime:</label>
					<input type="text" class="form-control width30" placeholder="Prezime" ng-model="cabTaskingDetails.taskinglastname"></input>
				</div>
				<div class="form-group">					
					<label>Tasker Sati:</label>
					<input type="text" class="form-control width30" placeholder="Sati taskiranja" ng-model="cabTaskingDetails.taskinghours"></input>
				</div>
				<div class="form-group">					
					<label>Broj taskova:</label>
					<input type="text" class="form-control width30" placeholder="Broj taskova" ng-model="cabTaskingDetails.taskingnooftask"></input>
				</div>
				<div class="form-group">
					<!-- promijeniti u btn? -->
					<a href="#/Tasking">Taskovi - Detalji</a>
				</div>
			</form>
		</div>

		<!-- Code review -->
		<div>
			<div>				
				<span id="infoCodeReviewEmpty" class="form-control">					
					<i id="iHideCodeReview" class="glyphicon glyphicon-menu-down"></i>
					<img style='float: right' ng-src='{{codeReviewImageYesNo}}' height="25" width="25" />
				</span>
				<span id="infoCodeReview" class="form-control">					
					<i id="iShowCodeReview" class="glyphicon glyphicon-menu-right"></i>
					<img style='float: right' ng-src='{{codeReviewImageYesNo}}' height="25" width="25" />
					{{codeReviewlabel}}
				</span>
			</div>

			<form id="formShowHideCodeReview">
				<div class="form-group">
					<div class="span2">
						<span class="label label-info">{{codeReviewlabel}}</span>						
					</div>
				</div>
				<div class="form-group">					
					<label>Code Review Urađen:</label>
					<input type='checkbox'class="text" ng-model="cabCodeReviewDetails.codereviewdone" disabled></input>
				</div>
				<div class="form-group">					
					<label>Tasker Uradio CR:</label>
					<input type="text" class="form-control width30" placeholder="Tasker done CR" ng-model="cabCodeReviewDetails.codereviewtasker"></input>
				</div>				
			</form>
		</div>

		<!-- Unit test -->
		<div>
			<div>				
				<span id="infoUnitTestEmpty" class="form-control">					
					<i id="iHideUnitTest" class="glyphicon glyphicon-menu-down"></i>
					<img style='float: right' ng-src='{{unitTestImageYesNo}}' height="25" width="25" />
				</span>
				<span id="infoUnitTest" class="form-control">					
					<i id="iShowUnitTest" class="glyphicon glyphicon-menu-right"></i>
					<img style='float: right' ng-src='{{unitTestImageYesNo}}' height="25" width="25" />
					{{unitTestlabel}}
				</span>
			</div>

			<form id="formShowHideUnitTest">
				<div class="form-group">
					<div class="span2">
						<span class="label label-info">{{unitTestlabel}}</span>						
					</div>
				</div>
				<div class="form-group">
					<label>Unit Test Urađen</label>
					<input type='checkbox'class="text" ng-model="cabUnitTestDetails.unittestdone" disabled></input>
				</div>
				<div class="form-group">
					<label>Developeri Uradili UT</label>				
					<li class="text" ng-repeat="developer in cabUnitTestDetails.unittestdevelopers">
						{{developer.name}}
					</li>
				</div>
			</form>
		</div>

		<!-- Testing info -->
		<div>			
			<div>				
				<span id="infoTestingEmpty" class="form-control">					
					<i id="iHideTesting" class="glyphicon glyphicon-menu-down"></i>
					<img style='float: right' ng-src='{{testingImageYesNo}}' height="25" width="25" />
				</span>
				<span id="infoTesting" class="form-control">					
					<i id="iShowTesting" class="glyphicon glyphicon-menu-right"></i>
					<img style='float: right' ng-src='{{testingImageYesNo}}' height="25" width="25" />
					{{testinglabel}}
				</span>
			</div>

			<form id="formShowHideTesting">
				<div class="form-group">
					<div class="span2">
						<span class="label label-info">{{testinglabel}}</span>						
					</div>
				</div>
				<div class="form-group">					
					<label>QA Validacija Zavrsena:</label>
					<input type="checkbox" ng-model="cabTestingDetails.qavalidationdone">
				</div>
				<div class="form-group">					
					<label>Datum Validacije:</label>
					<input type="text" class="form-control width30" placeholder="CAB HD No" ng-model="cabTestingDetails.qavalidationdate"></input>
				</div>
				<div class="form-group">
					<label>QA Testiranje Zavrseno:</label>
					<input type="checkbox" ng-model="cabTestingDetails.qatestingdone"></input>
				</div>
				<div class="form-group">					
					<label>Datum Zavrsetka Testiranja:</label>
					<input type="text" class="form-control width30" placeholder="CAB HD No" ng-model="cabTestingDetails.qatestingdate"></input>
				</div>
				<div class="form-group">
					<label>Business Testiranje Zavrseno:</label>
					<input type="checkbox" ng-model="cabTestingDetails.businesstestingdone"></input>
				</div>
				<div class="form-group">					
					<label>Datum Završetka Biznis Testiranja:</label>
					<input type="text" class="form-control width30" placeholder="CAB HD No" ng-model="cabTestingDetails.businesstestingdate"></input>
				</div>
				<div class="form-group">					
					<label>Komentari Testiranja:</label><br /><br />
					<ul><li ng-repeat="comment in cabTestingDetails.comments">
									{{comment.testingname}}
									{{comment.testingcomment}}
									{{comment.dateofcomment}}
								</li><br /></ul>
				</div>
			</form>
		</div>

		<!-- Developing info -->
		<div>
			<div>				
				<span id="infoDevelopingEmpty" class="form-control">					
					<i id="iHideDeveloping" class="glyphicon glyphicon-menu-down"></i>
					<img style='float: right' ng-src='{{developingImageYesNo}}' height="25" width="25" />
				</span>
				<span id="infoDeveloping" class="form-control">					
					<i id="iShowDeveloping" class="glyphicon glyphicon-menu-right"></i>
					<img style='float: right' ng-src='{{developingImageYesNo}}' height="25" width="25" />
					{{developinglabel}}
				</span>
			</div>

			<form id="formShowHideDeveloping">
				<div class="form-group">
					<div class="span2">
						<span class="label label-info">{{developinglabel}}</span>						
					</div>
				</div>
				<div class="form-group">					
					<label>Taskovi za developera: </label><br /><br />
					<ul><li ng-repeat="task in cabDevelopingDetails.tasks">
									{{task.taskname}}
									{{task.taskdeveloper}}
									{{task.taskstatus}}
									{{task.datelastchange}}
						</li>
						<br />
				    </ul>
				</div>
			</form>
		</div>

		<div class="container">

			<!--div class="container-fluid">
				<span>
					<div class="container-fluid"  ng-click="voteClick()" >
						<h3><label>Voting</label></h3>
						<span>
							<img align='right' ng-src='{{voteImageYesNo()}}' height="42" width="42" />
							<div ng-show="showVoting">
								<br/><br />
								<strong><label>Voter Ime:</label></strong><input class="text" ng-model="cabVoteDetails.votename"></input><br />
								<strong><label>Voter Prezime:</label></strong><input class="text" ng-model="cabVoteDetails.votelastname"></input><br />
								<strong><label>Datum Vote-a:</label></strong><input class="text" ng-model="cabVoteDetails.votedate"></input><br />
							</div>
						</span>
					</div>
				</span>
			</div-->

			<!--div class="container-fluid">
				<span>
					<div class="container-fluid" ng-click="analyzeClick()">
						<h3><label>Analysis</label></h3>
						<span>
							<img align='right' ng-src='{{analyzeImageYesNo()}}' height="42" width="42" />
							<div ng-show="showAnalysis">
								<br/><br />
								<strong><label>Analyzer Ime:</label></strong><input class="text" ng-model="cabAnalyzeDetails.analyzename"></input><br />
								<strong><label>Analyzer Prezime:</label></strong><input class="text" ng-model="cabAnalyzeDetails.analyzelastname"></input><br />
								<strong><label>Predviđeni sati za izradu CAB zahtjeva:</label></strong><input class="text" ng-model="cabAnalyzeDetails.analyzepredictedwh"></input><br />
								<strong><label>Note Analyzera:</label></strong><input class="text" ng-model="cabAnalyzeDetails.analyzenote"></input><br />
							</div>
						</span>
					</div>
				</span>
			</div-->

			<!--div class="container-fluid"  >
				<span>
					<div class="container-fluid" ng-click="taskingClick()">
						<h3><label>Tasking</label></h3>
						<img align='right' ng-src='{{taskingImageYesNo()}}' height="42" width="42" />
						<div ng-show="showTasking">
							<br/><br />
							<span><strong><label>Tasker Ime:</label></strong><input class="text" ng-model="cabTaskingDetails.taskingename"></input></span><br />
							<span><strong><label>Tasker Prezime:</label></strong><input class="text" ng-model="cabTaskingDetails.taskinglastname"></input></span><br />
							<span><strong><label>Tasker Sati:</label></strong><input class="text" ng-model="cabTaskingDetails.taskinghours"></input></span><br />
							<span><strong><label>Broj Taskova:</label></strong><input class="text" ng-model="cabTaskingDetails.taskingnooftask"></input></span><br />
							<a href="tasking.html">Taskovi - Detalji</a>
						</div>
					</div>
				</span>
			</div-->
			<!--div class="container-fluid">
				<span>
					<div class="container-fluid" ng-click="codereviewClick()">
						<h3><label>Code Review</label></h3>
						<img align='right' ng-src='{{codereviewImageYesNo()}}' height="42" width="42" />
						<div ng-show="showCodeReview">
							<br/><br />
							<span><strong><label>Code Review Urađen</label></strong><input type='checkbox'class="text" ng-model="cabCodeReviewDetails.codereviewdone" disabled></input></span><br />
							<span><strong><label>Tasker Uradio CR:</label></strong><input class="text" ng-model="cabCodeReviewDetails.codereviewtasker"></input></span><br />
						</div>
					</div>
				</span>
			</div-->
			<!--div class="container-fluid" >
				<span>
					<div class="container-fluid" ng-click="unittestClick()">
						<h3><label>Unit Tests</label></h3>
						<img align='right' ng-src='{{unittestImageYesNo()}}' height="42" width="42" />
						<div ng-show="showUnitTest">
							<br/><br />
							<span><strong><label>Unit Test Urađen</label></strong><input type='checkbox'class="text" ng-model="cabUnitTestDetails.unittestdone" disabled></input></span><br />
							<span><strong><label>Developeri Uradili UT</label></strong><ul><li class="text" ng-repeat="developer in cabUnitTestDetails.unittestdevelopers" ng-show="showUnitTest">{{developer.name}}</li></span><br /></ul>
						</div>
					</div>
				</span>
			</div-->
			<!--div class="container-fluid" >
				<span>
					<div class="container-fluid" ng-click="testingClick()">
						<h3><label>Testing</label></h3>
						<img align='right' ng-src='{{testingImageYesNo()}}' height="42" width="42" />
						<div ng-show="showTesting">
							<br/><br />
							<span><strong><label>QA Validacija Zavrsena:</label></strong><input type="checkbox" ng-model="cabTestingDetails.qavalidationdone"></input></span><br />
							<span><strong><label>Datum Validacije:</label></strong><input ng-model="cabTestingDetails.qavalidationdate"></input></span><br />
							<span><strong><label>QA Testiranje Zavrseno:</label></strong><input type="checkbox" ng-model="cabTestingDetails.qatestingdone"></input></span><br />
							<span><strong><label>Datum Zavrsetka Testiranja:</label></strong><input ng-model="cabTestingDetails.qatestingdate"></input></span><br />
							<span><strong><label>Business Testiranje Zavrseno:</label></strong><input type="checkbox" ng-model="cabTestingDetails.businesstestingdone"></input></span><br />
							<span><strong><label>Datum Završetka Biznis Testiranja:</label></strong><input ng-model="cabTestingDetails.businesstestingdate"></input></span><br />
							<span><strong><label>Komentari Testiranja</label></strong>
								<ul><li ng-repeat="comment in cabTestingDetails.comments" ng-show="showTesting">
									{{comment.testingname}}
									{{comment.testingcomment}}
									{{comment.dateofcomment}}
								</li></span><br /></ul>					
							</div>
						</div>
					</span>
				</div-->
				<!--div class="container-fluid">
					<span>
						<div class="container-fluid" ng-click="developingClick()">
							<h3><label>Developing</label></h3>
							<img align='right' ng-src='{{developingImageYesNo()}}' height="42" width="42" />
							<div ng-show="showDeveloping">
								<br/><br />
								<ul><li ng-repeat="task in cabDevelopingDetails.tasks" ng-show="showDeveloping">
									{{task.taskname}}
									{{task.taskdeveloper}}
									{{task.taskstatus}}
									{{task.datelastchange}}
								</li></span><br /></ul>					
							</div>
						</div>
					</span>
				</div-->
			</div>



		</div> <!-- Main div -->