<div class="container divBorder">
			<form>
				<div class="form-group">
					<div class="span2">
						<!--label for="exampleInputEmail1">Broj CAB zahtjeva: </label-->
						<input type="text" class="form-control width30" placeholder="Broj CAB zahtjeva"></input>
					</div>
				</div>
				<!--label>Naziv: </label-->
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Naziv"></input>
				</div>
				<div class="form-group">
				<!--label>Tip: </label-->
					<select class="form-control width30" ><option>--Odaberi Tip--</option><option>Normal</option></select>
				</div>
				<div class="form-group">
					<!--label>Prioritet: </label-->
					<select class="form-control width30"><option>--Odaberi Prioritet--</option><option>Normal</option></select>
				</div>				
				<div class="form-group">
					<!--label>Datum zahtjeva: </label-->
					<input type="text" class="form-control width30" id="datepicker" placeholder="Datum zahtjeva"></input><br />
				</div>				
				<div class="form-group">
					<!--label>Pošiljaoc: </label-->
					<select class="form-control width30"><option>--Odaberi Pošiljaoca--</option><option>Operacije</option></select><br />
				</div>				
				<div class="form-group">
					<!--label>Za odjel: </label-->
					<select class="form-control width30"><option>--Odaberi Odjel--</option><option>Razvoj</option></select><br />
				</div>				
				<div class="form-group">
					<!--label>Dodaj attachment</label-->
					<input  class="form-control width30" type="file" name="attachment"></input><br />
				</div>				
				<div class="form-group">
					<input  class="btn btn-primary" type="button" value="Dodaj novi CAB zahtjev"></input>
				</div>
				
			</form>
<div class="container">