<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./css/bootstrap.css">
		<link rel="stylesheet" href="./css/jquery-ui.structure.min.css">
		<link rel="stylesheet" href="./css/jquery-ui.theme.min.css">
		<link rel="stylesheet" href="./css/jquery-ui.min.css">
		<link rel="stylesheet" href="./css/app.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<span class="label label-info controlShadow">Developer</span><br />
			<ul class="nav nav-pills borderMenuSize" role="tablist">
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Pregled CAB zahtjeva</a></li>
				<li class="spaceHeight"> </li>
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Development <span class="label label-danger alignRight label-as-badge">3</span></a></li>
				<li class="spaceHeight"> </li>
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Vraceni CAB zahtjevi <span class="label label-success alignRight label-as-badge">0</span></a></li>
				<li class="spaceHeight"> </li>
			</ul>
			<br />
			<span class="label label-info controlShadow">Tasker</span><br />
			<ul class="nav nav-pills borderMenuSize" role="tablist">
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Aktivni CAB zahtjevi <span class="label label-success alignRight label-as-badge">0</span></a></li>
				<li class="spaceHeight"> </li>
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Biraj CAB za taskiranje <span class="label label-danger alignRight label-as-badge">5</span></a></li>
				<li class="spaceHeight"> </li>
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Taskiraj <span class="label label-danger alignRight label-as-badge">1</span></a></li>
				<li class="spaceHeight"> </li>
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Taskiranje dodatno <span class="label label-success alignRight label-as-badge">0</span></a></li>
				<li class="spaceHeight"> </li>
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Zatvori CAB zahtjev <span class="label label-danger alignRight label-as-badge">2</span></a></li>
			</ul>
			<br />
			<span class="label label-info controlShadow">Voter/Analyzer</span><br />
			<ul class="nav nav-pills borderMenuSize" role="tablist">
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Vote CAB zahtjeva <span class="label label-danger alignRight label-as-badge">11</span></a></li>
				<li class="spaceHeight"> </li>
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Radi analizu <span class="label label-success alignRight label-as-badge">0</span></a></li>
				<li class="spaceHeight"> </li>
				<li role="presentation" class="btn btn-default menuButtonDev"><a href="#">Potpisan UAF <span class="label label-success alignRight label-as-badge">0</span></a></li>
				<li class="spaceHeight"> </li>
			</ul>
			<br />
		</div>
		<script src=".\js\jquery-2.1.4.min.js"></script>
		<script src=".\js\bootstrap.min.js"></script>
		<script src=".\js\jquery-ui.min.js"></script>		
		<script src=".\app\jqueryScript.js"></script>
		
	</body>
</html>