<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./css/bootstrap.css">
		<link rel="stylesheet" href="./css/jquery-ui.structure.min.css">
		<link rel="stylesheet" href="./css/jquery-ui.theme.min.css">
		<link rel="stylesheet" href="./css/jquery-ui.min.css">
		<link rel="stylesheet" href="./css/app.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	
		<div class="container divBorder">		
			<div>				
				<span id="infoNewDeveloperEmpty" class="form-control">					
					<i id="iHide" class="glyphicon glyphicon-menu-down"></i>
					 
				</span>
				<span id="infoNewDeveloper" class="form-control">					
					<i id="iShow" class="glyphicon glyphicon-menu-right"></i>
					Unesi novog developera
				</span>
			</div>
			
			<form id="formShowHide">
				<div class="form-group">
					<div class="span2">
						<span class="label label-info">Unesi novog developera</span>						
					</div>
				</div>
				<div class="form-group">
					<!--label for="exampleInputEmail1">Broj CAB zahtjeva: </label-->
					<input type="text" class="form-control width30" placeholder="Developer ID"></input>
				</div>
				<!--label>Naziv: </label-->
				<div class="form-group">
					<input type="text" class="form-control width30" placeholder="Ime"></input>
				</div>
				<div class="form-group">
					<input type="text" class="form-control width30" placeholder="Prezime"></input>
				</div>
				<div class="form-group">
				<!--label>Tip: </label-->
					<select class="form-control width30" ><option>--Node--</option><option>Razvoj</option></select>
				</div>
				<div class="checkbox" id="cbCSS">
					<label>
					  <input type="checkbox" id="c1" name="cc"> Voter</input>
					</label>
				</div>
				<div class="checkbox">
					<label>
					  <input type="checkbox"> Analyzer</input>
					</label>
				</div>
				<div class="checkbox">
					<label>
					  <input type="checkbox"> Tasker</input>
					</label>
				</div>
				<div class="checkbox">
					<label>
					  <input type="checkbox"> Developer</input>
					</label>
				</div>
				<div class="checkbox">
					<label>
					  <input type="checkbox"> Tester</input>
					</label>
				</div>				
			
				<div class="form-group">
					<input  class="btn btn-primary" type="button" value="Dodaj novog developera"></input>
				</div>
				
			</form>			
			
			<div>
				<table class="table table-hover">
					<!-- On cells (`td` or `th`) -->
					<tr>
						<td><span class="label label-info">Clanovi IT odjela</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td><input class="text"></input></td>
					</tr>
					<tr>
					  <td class="success">Kolona 1</td>
					  <td class="success">Kolona 2</td>
					  <td class="success">Kolona 3</td>
					  <td class="success">Kolona 4</td>
					  <td class="success">Kolona 5</td>
					</tr>
					<tr>
					  <td class="info">Vrijednost kolone 1</td>
					  <td class="info">Vrijednost kolone 2</td>
					  <td class="info">Vrijednost kolone 3</td>
					  <td class="info">Vrijednost kolone 4</td>
					  <td class="info">Vrijednost kolone 5</td>
					</tr>
					<tr>
					  <td class="info">Vrijednost kolone 1</td>
					  <td class="info">Vrijednost kolone 2</td>
					  <td class="info">Vrijednost kolone 3</td>
					  <td class="info">Vrijednost kolone 4</td>
					  <td class="info">Vrijednost kolone 5</td>
					</tr>
					<tr>
					  <td class="info">Vrijednost kolone 1</td>
					  <td class="info">Vrijednost kolone 2</td>
					  <td class="info">Vrijednost kolone 3</td>
					  <td class="info">Vrijednost kolone 4</td>
					  <td class="info">Vrijednost kolone 5</td>
					</tr>
					<tr>
					  <td class="info">Vrijednost kolone 1</td>
					  <td class="info">Vrijednost kolone 2</td>
					  <td class="info">Vrijednost kolone 3</td>
					  <td class="info">Vrijednost kolone 4</td>
					  <td class="info">Vrijednost kolone 5</td>
					</tr>
				</table>
			</div>
		<div class="container">
		

		
		<script src=".\js\jquery-2.1.4.min.js"></script>
		<script src=".\js\bootstrap.min.js"></script>
		<script src=".\js\jquery-ui.min.js"></script>		
		<script src=".\app\jqueryScript.js"></script>
		
	</body>
</html>