
<div class="container">
	<a class="btn btn-default" href="#/developerHome">Home</a>
	<a class="btn btn-default" id="aBackToTaskTable" href="#/QATesting">Vrati na listu CAB-ova</a>	
</div>
<br />
<div class="container" id="divTasksTable">
	
	<table id="jqTable">
		<thead>
			<tr>
				<th>CAB HD No</th>
				<th>CAB Naziv</th>
				<th>Tip</th>
				<th>Datum</th>
				<th>Pošiljaoc</th>
				<th>Prioritet</th>
				<th>Odjel</th>
				<th>Status</th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<th>CAB HD No</th>
				<th>CAB Naziv</th>
				<th>Tip</th>
				<th>Datum</th>
				<th>Pošiljaoc</th>
				<th>Prioritet</th>
				<th>Odjel</th>
				<th>Status</th>
			</tr>
		</tfoot>

		<tbody id="tbodyTasksTableItem">
			<tr ng-repeat="test in testingList" ng-click="selectCAB()">
				<td>{{test.CAB_HD_No}}</td>
				<td>{{test.CAB_HD_Title}}</td>
				<td>{{test.CAB_Type}}</td>
				<td>{{test.CAB_HD_Date}}</td>
				<td>{{test.CAB_Sender}}</td>
				<td>{{test.CAB_Priority}}</td>
				<td>{{test.CAB_Department}}</td>
				<td>{{test.StatusName}}</td>
			</tr>			
		</tbody>
	</table>
</div>
<div class="container" id="divTaskInfo">
	<div>
		<div>
			<p class="bg-info fontWeightBold">Naziv CAB zahtjeva</p>
			<p>{{selectedCAB.CAB_HD_Title}}</p>					
			<p class="bg-info fontWeightBold">Attachmenti za CAB zahtjeva</p>
			<a href="#">CAB HD 1 - Testni attachment</a><br />
		</div>
		<br />
		<div class="row divBorder">
			<p class="bg-info fontWeightBold">Podaci analiziranog CAB-a</p>
			<form>
				<input type="checkbox" ng-model="checked" ng-click="check()">Testiranje uspješno završeno</input>
				<div class="form-group">
					<input  class="btn btn-primary" type="button" value="QA testiranje uspješno završeno" ng-click="saveQASuccess()" ng-disabled="unchecked"></input>
					<input  class="btn btn-warning" type="button" value="QA testiranje nije uspješno" ng-click="saveDeclinedCAB()"></input>
				</div>
			</form>
		</div>
	</br>	
</div>				
</div> 