
<div class="container">
	<a class="btn btn-default" href="#">Home</a>
	<a class="btn btn-default" id="aBackToTaskTable" href="#/Vote">Vrati na listu taskova</a>	
</div>
<br />
<div class="container" id="divTasksTable">
	
	<table id="jqTable">
		<thead>
			<tr>
				<th>CAB HD No</th>
				<th>CAB Naziv</th>
				<th>Tip</th>
				<th>Datum</th>
				<th>Pošiljaoc</th>
				<th>Prioritet</th>
				<th>Odjel</th>
				<th>Status</th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<th>CAB HD No</th>
				<th>CAB Naziv</th>
				<th>Tip</th>
				<th>Datum</th>
				<th>Pošiljaoc</th>
				<th>Prioritet</th>
				<th>Odjel</th>
				<th>Status</th>
			</tr>
		</tfoot>

		<tbody id="tbodyTasksTableItem">
			<tr ng-repeat="vote in cabVoteDetails" ng-click="selectCAB()">
				<td>{{vote.CAB_HD_No}}</td>
				<td>{{vote.CAB_HD_Title}}</td>
				<td>{{vote.CAB_Type}}</td>
				<td>{{vote.CAB_HD_Date}}</td>
				<td>{{vote.CAB_Sender}}</td>
				<td>{{vote.CAB_Priority}}</td>
				<td>{{vote.CAB_Department}}</td>
				<td>{{vote.StatusName}}</td>
			</tr>			
		</tbody>
	</table>
</div>
<div class="container" id="divTaskInfo">
	<div>
		<div>
			<p class="bg-info fontWeightBold">Naziv CAB zahtjeva</p>
			<p>{{selectedCAB.CAB_HD_Title}}</p>					
			<p class="bg-info fontWeightBold">Attachmenti za CAB zahtjeva</p>
			<a href="#">CAB HD 1 - Testni attachment</a><br />			
			
		</div>
		<br />
		<div class="row divBorder">
			<p class="bg-info fontWeightBold">Datum za analizu</p>
			<form>
				<div class="form-group">
					<!--label>Datum zahtjeva: </label-->
					<input type="text" class="form-control width30 datepicker" placeholder="Datum od" ng-model="cabDateFrom"></input><br />
				</div>	
				<div class="form-group">
					<!--label>Datum zahtjeva: </label-->
					<input type="text" class="form-control width30 datepicker" placeholder="Datum do" ng-model="cabDateTo"></input><br />
				</div>	
				<div class="form-group">
					<input  class="btn btn-primary" type="button" value="Preuzmi CAB za analizu" ng-click="saveCAB()"></input>
				</div>
			</form>
		</div>
	</br>	
</div>				
</div> 